#root {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-card-title {
  font-size: 0.9rem;
  margin: 0.5em 0;
  color: #E6EBF3;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  /*Limitar a dues línies*/
  display: -webkit-box;
  /* comportament tipus caixa flexible */
  -webkit-box-orient: vertical;
  /* orientació vertical */
  -webkit-line-clamp: 2;
  /* nombre màxim de línies */
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card-info {
  font-weight: 500;
  font-size: 0.75rem;
  color: #9ca3af;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5em;
}

