header {
    background-color: #2C3545;
    padding: 1rem;
    margin-bottom: 1rem;
}
header h1 {
    color: white;
    margin: 0;
}
header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

